on:
  # We need pull_request_target to post comments on PRs
  pull_request_target:

jobs:
  comment:
    permissions:
      contents: read
      pull-requests: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{ github.event.pull_request.head.sha }}
      - name: Setup Python
        uses: actions/setup-python@v4
      - name: Install requirements
        run: |
          pip install -r requirements-gha.txt
      - name: TEST
        run: |
          echo "TEST"

      - name: Comment
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUM: ${{ github.event.number }}
          SECRET: ${{ secrets.FLAG }}
        run: |
          echo "TEST"
          python3 .github/scripts/post_comment.py "${PR_NUM}"
